{% extends 'base.html' %}

{% load i18n static %}

{% block title %}Password recovery{% endblock %}

{% block extra_header %}
{% endblock %}

{% block content %}
    <div class="wrapper-signin-page">
        <div class="block">
			<div class="title">Password recovery</div>
            {% if not success %}<p class="info-message">Please enter your email. You will receive an email with a link to create a new password.</p>{% endif %}
            <form action="{% url 'users:lost_password' %}" method="post">
                {% csrf_token %}
                {% if success %}
                    <ol class="form_messages_list">
                        <li>Check your email. <br> We sent the instructions for password recovery to the email address you provided.</li>
                    </ol>
                {% else %}
                    {% if form.errors %}
                        <ol class="form_messages_list error">
                            {% for field in form %}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <li><strong>{{ error|escape }}</strong></li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ol>
                    {% endif %}
                    {% for field in form %}
                        <div class="form__item {{ field.has_error }}">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="form__item">
                        <button id="submit">Get new password</button>
                    </div>
                {% endif %}
            </form>
		</div>
        <div class="upper-block">
            <a href="{% url 'users:signin' %}">Sign in</a>
            <a href="{% url 'users:signup' %}">Sign up</a>
        </div>
	</div>
{% endblock %}

{% block extra_footer %}{% endblock %}