{% extends 'base.html' %}

{% load i18n static %}

{% block title %}Setting new password{% endblock %}

{% block extra_header %}
{% endblock %}

{% block content %}
    <div class="wrapper-signin-page">
        <div class="block">
			<div class="title">Setting new password</div>
            <p class="info-message">You requested a password change. On this page you can set a new password for your account.</p>
            <form action="" method="post">
                {% csrf_token %}
                {% if form.errors %}
                    <ol class="form_messages_list error">
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <li><strong>{{ error|escape }}</strong></li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ol>
                {% endif %}
                {% for field in form %}
                    <div class="form__item {{ field.has_error }}">
{#                        {{ field.label_tag }}#}
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="form__item">
                    <button id="submit">Set new password</button>
                </div>
            </form>
		</div>
        <div class="upper-block">
            <a href="{% url 'users:signin' %}">Sign in</a>
            <a href="{% url 'users:signup' %}">Sign up</a>
        </div>
	</div>
{% endblock %}

{% block extra_footer %}{% endblock %}